/* styles for the Cart page */ 

/* adds space on the outside borders, so the text isn't touch the browser sides */ 

.cart_page {
    padding: 0 3rem;
}

/* styles the "cart" title */ 

.cart__title {
    font-size: 65px ; 
    color: #f5c46d; 
    text-shadow: 1px 1px 0px #944c0f; 

    margin-top: 35px; 
    margin-bottom: 0px; 
    padding: 0px; 
}

/* styles the "classic menu orders", "secret menu orders", and "custom menu orders" headings */ 

.cart-menu-heading {
    color: #d57a17;
    text-shadow: 0px 0px 0px #944c0f; 
    font-size: 25px; 
}

/* styles for the "Order" heading */ 

.order-heading {
    color: #944c0f; 
    text-shadow: 0px 0px 0px #292c4c; 
    font-size: 20px; 

    margin-bottom: 10px; 
}

/* styles for the classic menu and secret menu order names */ 

.cart-order-name {
    color: #944c0f;
    font-size: 25px; 
    /* font-weight: bold; */

    margin: 0px 10px 10px 0px; 
}

/* styles for the CONTAINER of the custom menu order names */ 

.custom-order-name-container {
    display: flex; 
}

/* styles for the custom menu order names */ 

.custom-order-name {
    color: #944c0f;
    font-size: 25px; 
    /* font-weight: bold; */

    margin: 0px 10px 10px 0px; 
}


/* plain styles for the "edit order" buttons */ 

/* .cart-edit-button {
    color: #bba1d0; 
    font-size: 20px;

    background-color: #292c4c; 
    border: 1px solid #8e6ca4; 
    border-radius: 30px 30px 30px 30px; 

    margin: 5px 10px 15px 0px; 
    padding: 5px 15px; 
} */

/* styles for the "edit order " button AND the press-down animation when the button is clicked */ 

.cart-edit-button {
    color: #bba1d0; 
    font-size: 20px;

    background-color: #292c4c; 
    border: 1px solid #bba1d0; 
    border-radius: 30px 30px 30px 30px; 

    margin: 5px 10px 15px 0px; 
    padding: 5px 15px; 

    vertical-align: top;
    box-shadow: 0px 3px 4px gray;
}

.cart-edit-button:active {
    color: #a891bb; 
    background-color: #252844;
    border: 1px solid #a891bb;
    box-shadow: 0 0 0 white;
    margin: 5px 10px 15px 0px;
}

/* plain styles for the "delete order" buttons */ 

/* .cart-delete-button {
    color: #bba1d0;  
    font-size: 20px;

    background-color: #292c4c; 
    border: 1px solid #8e6ca4; 
    border-radius: 30px 30px 30px 30px; 

    margin: 5px 10px 15px 0px; 
    padding: 5px 15px; 
} */

/* styles for the "delete order " button AND the press-down animation when the button is clicked */ 

.cart-delete-button {
    color: #bba1d0;  
    font-size: 20px;

    background-color: #292c4c; 
    border: 1px solid #bba1d0; 
    border-radius: 30px 30px 30px 30px; 

    margin: 5px 10px 15px 0px; 
    padding: 5px 15px; 

    vertical-align: top;
    box-shadow: 0px 3px 4px gray;
}

.cart-delete-button:active {
    color: #a891bb; 
    background-color: #252844;
    border: 1px solid #a891bb;
    box-shadow: 0 0 0 white;
    margin: 5px 10px 15px 0px;
}

/* plain styles for the "go to checkout" button */ 

/* #cart-checkout-button { 
    color: #944c0f;  
    font-size: 25px;

    background-color: #f5c46d; 
    border: 1px solid #944c0f; 
    border-radius: 30px 30px 30px 30px; 
    
    margin: 25px 0px 15px 0px;
    padding: 5px 20px; 
} */

/*styles for the "go to checkout" button AND the press-down animation when the button is clicked */ 

#cart-checkout-button { 
    color: #944c0f;  
    font-size: 25px;

    background-color: #f5c46d; 
    border: 1px solid #944c0f; 
    border-radius: 30px 30px 30px 30px; 
    
    margin: 25px 0px 15px 0px;
    padding: 5px 20px; 

    vertical-align: top;
    box-shadow: 0px 3px 4px gray;
}

#cart-checkout-button:active {
    color: #85440e; 
    background-color: #ddb062;
    border: 1px solid #85440e;
    box-shadow: 0 0 0 white;
    margin: 25px 0px 15px 0px;

}

