/* styles for the Cart page */ 

/* adds space on the outside borders, so the text isn't touch the browser sides */ 

.cart_page {
    padding: 0 3rem;
}

.cart__title {
    font-size: 65px ; 
    color: #f5c46d; 
    text-shadow: 1px 1px 0px #944c0f; 

    margin-top: 35px; 
    margin-bottom: 0px; 
    padding: 0px; 
}

.cart-menu-heading {
    color: #d57a17;
    text-shadow: 0px 0px 0px #944c0f; 
}

/* styles for the "Order" heading */ 

.order-heading {
    color: #944c0f; 
    text-shadow: 0px 0px 0px #292c4c; 
    font-size: 20px; 

    margin-bottom: 10px; 
}

/* styles for the classic menu and secret menu order names */ 

.cart-order-name {
    color: #944c0f;
    font-size: 25px; 
    /* font-weight: bold; */

    margin: 0px 10px 10px 0px; 
}

/* styles for the CONTAINER of the custom menu order names */ 

.custom-order-name-container {
    display: flex; 
}

/* styles for the custom menu order names */ 

.custom-order-name {
    color: #944c0f;
    font-size: 25px; 
    /* font-weight: bold; */

    margin: 0px 10px 10px 0px; 
}


/* styles for the "Edit Order" buttons */ 

.cart-edit-button {
    color: #bba1d0;  
    /* text-shadow: 1px 1px 1px #8e6ca4; */
    /* font-weight: bold;  */
    font-size: 20px;

    background-color: #292c4c; 
    border: 1px solid #8e6ca4; 
    border-radius: 30px 30px 30px 30px; 

    margin: 5px 10px 15px 0px; 
    padding: 5px 15px; 
}

/* styles for the "Delete Order" buttons */ 

.cart-delete-button {
    color: #bba1d0;  
    /* text-shadow: 1px 1px 1px #8e6ca4; */
    /* font-weight: bold;  */
    font-size: 20px;

    background-color: #292c4c; 
    border: 1px solid #8e6ca4; 
    border-radius: 30px 30px 30px 30px; 

    margin: 5px 10px 15px 0px; 
    padding: 5px 15px; 
}

/* styles for the "GO TO CHECKOUT" BUTTON */ 

#cart-checkout-button { 
    color: #944c0f;  
    /* text-shadow: 1px 1px 1px #d57a17;  */
    /* font-weight: bold;  */
    font-size: 25px;

    background-color: #f5c46d; 
    border: 1px solid #944c0f; 
    border-radius: 30px 30px 30px 30px; 
    
    margin: 25px 0px 15px 0px;
    padding: 5px 20px; 
}