/* styles for CustomMenu.css */ 

/* adds space on the outside borders, so the text isn't touch the browser sides */ 

.custom_menu {
    padding: 0 3rem;
}

/* styles for the title, "secret menu" */ 

.custom__title {
    margin-top: 35px; 
    margin-left: 10px; 
    margin-bottom: 0px; 
    padding: 0px; 
}

/* styles for the p tag that says, "Build your own stack of pancakes!" */ 

.custom_instructions {
    margin-top: 10px; 
    margin-left: 10px; 
    margin-bottom: 0px; 
} 

.form_fields_container {
    margin: 10px; 
}

.btn {
    margin-right: 10px; 
    margin-bottom: 10px; 
}