/* styles for CustomMenu.js, the custom menu form */

/* adds space on the outside borders, so the text isn't touch the browser sides */

.custom_menu {
    padding: 0 3rem;
}

/* styles for the title, "custom menu" */
/* gave the title a color with shadow to make it stand out */ 
/* adjusted the margin and padding to make it have the preferred spacing on the page */ 

.custom__title {
    font-size: 65px ; 
    color: #f5c46d; 
    text-shadow: 1px 1px 0px #944c0f; 

    margin-top: 35px; 
    margin-bottom: 0px; 
    padding: 0px; 
}

/* styles for the p tag that says, "Build your own stack of pancakes!" */

.custom_instructions {
    color: #d57a17;
    font-size: 25px;
    /* font-weight: bold; */

    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
}

/* styles for the container holding the drop-down fields (batters, fillings, toppings, and stack sizes) */
/* this controls how the labels and inputs sit on the page as a whole */

.form_fields_container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 10px;
}

/* styles that control how the individual label and input fields look next to each other */

.custom_label_and_input_container {
    display: flex;
    flex-direction: row;
    
    margin: 10px 10px 10px 0px;
}

/* the .custom_label styles control how the individual batters, fillings, toppings, and stack sizes lables are aligned */
/* they each have a color */ 
/* they are also spaced so that the left corners of the fields are lined up with each other  */ 

.custom_label_batters {
    color: #944c0f;
    font-size: 30px;
    
    margin-right: 107px;
    margin-bottom: 0px;
}

.custom_label_fillings {
    color: #944c0f;
    font-size: 30px; 

    margin-right: 103px;
    margin-bottom: 0px;
}

.custom_label_toppings {
    color: #944c0f;
    font-size: 30px; 

    margin-right: 72px;
    margin-bottom: 0px;
}

.custom_label_stack_sizes {
    color: #944c0f;
    font-size: 30px; 

    margin-right: 37px;
    margin-bottom: 20px;
}

/* styles for the drop-down menu input field container */ 

.custom-menu-form-group {
    padding-top: 19.5px; 
}

/* styles for the <select> tag drop-down box options */ 

select {
    color: #944c0f; 
    font-size: 20px; 
    height: 30px; 
    width: 320px; 

    padding: 0px 2px 0px 2px;
    border: 1px solid #944c0f; 
}

/* styles for the "add to cart" button AND the press-down animation when the button is clicked */ 
/* the button initially has a drop shadow to give it a raised effect */ 
/* when the button is clicked, the drop shadow disappears and the button darkens slightly as if it is being pressed down */ 

#custom-menu-cart-button {
    color: #bba1d0;  
    font-size: 25px;

    background-color: #292c4c; 
    border: 1px solid #bba1d0; 
    border-radius: 30px 30px 30px 30px; 
    
    margin: 5px 0px 15px 10px;
    padding: 5px 20px; 

    vertical-align: top;
    box-shadow: 0px 3px 4px gray;
}

#custom-menu-cart-button:active {
    color: #a891bb; 
    background-color: #252844;
    border: 1px solid #a891bb;
    box-shadow: 0 0 0 white;
    margin: 6px 10px 2px 10px;
}

/* styles for a feedback message that displays when the user clicks the "add to cart" button */ 

.customFeedback {
    border: 1px double #568259;
    padding: 1rem;
    color: #3b2c35;  
    background-color: #ccfccb; 
    position: absolute;
    top: 20%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    animation: 1s slideDown;
  }
  
  .customInvisible {
    display: none;
  }
  
  .customVisible {
    display: block;
  }
  
  .customError {
    border: 1px double #EF3054;
    padding: 1rem;
    color: #0B0A07; 
    background-color: #ff9b85;
  }
  
  @keyframes slideDown {
    0% {
      top: 0%;
    }
  
    100% {
      top: 20%;
    }
  }


/* styles for the "save edit" button AND the press-down animation when the button is clicked */
/* the button initially has a drop shadow to give it a raised effect */ 
/* when the button is clicked, the drop shadow disappears and the button darkens slightly as if it is being pressed down */ 

#custom-menu-save-button {
    color: #bba1d0;
    font-size: 25px;

    background-color: #292c4c;
    border: 1px solid #bba1d0;
    border-radius: 30px 30px 30px 30px;

    margin: 5px 0px 15px 10px;
    padding: 5px 20px;

    vertical-align: top;
    box-shadow: 0px 3px 4px gray;
}

#custom-menu-save-button:active {
    color: #a891bb; 
    background-color: #252844;
    border: 1px solid #a891bb;
    box-shadow: 0 0 0 white;
    margin: 6px 10px 2px 10px;
}
