/* styles for Menu.css */

/* adds space on the outside borders, so the text isn't touch the browser sides */

.classic_menu {
    padding: 0 3rem;
}

/* styles for the title, "classic menu" */

.classic__title {
    font-size: 65px;
    color: #f5c46d;
    text-shadow: 1px 1px 0px #944c0f;

    margin-top: 35px;
    margin-left: 10px;
    margin-bottom: 0px;
    padding: 0px;
}

/* styles for the label & radio input  */

/* activated flexbox for the label and input divs to line them side by side */
/* align-items helps the text looks like its level with the radio input in the center */

.classic_menu_label_and_input_container {

    display: flex;
    align-items: center;
    margin: 15px 0px 15px 0px;

    font-size: 25px;
    color: #944c0f;
}

/* styles for the radio button - not the label */
/* this was size the radio input and make it smaller */

.classic-menu-form-group {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 10px 0px;
}

/* was using input.form-control to control the alignment of the radio input and label*/
/* turns out that this affects the input fields on the login.js and register.js components */
/* added a unique id called "menu-form-control" to menu.js to isolate the styles to menu.js */

#menu-form-control {
    margin: 10px;
    border: 0;
    height: 30px;
    width: 25px;
}

/* styles for the input field -- the color the input becomes when selected */

input {
    accent-color: #944c0f;
}

/* plain styles for the classic menu "add to cart" and "save edit" buttons */

/* #classic-menu-cart-button {
    color: #bba1d0;  
    font-size: 25px;

    background-color: #292c4c; 
    border: 1px solid #8e6ca4; 
    border-radius: 30px 30px 30px 30px; 
    
    margin: 5px 0px 15px 10px;
    padding: 5px 20px; 
}  */

/*styles for the "add to cart" button AND the press-down animation when the button is clicked */ 

#classic-menu-cart-button {

    color: #bba1d0;  
    font-size: 25px;

    background-color: #292c4c; 
    border: 1px solid #bba1d0; 
    border-radius: 30px 30px 30px 30px; 
    
    margin: 5px 0px 15px 10px;
    padding: 5px 20px; 

    vertical-align: top;
    box-shadow: 0px 3px 4px gray;
}

#classic-menu-cart-button:active {
    color: #a891bb; 
    background-color: #252844;
    border: 1px solid #a891bb;
    box-shadow: 0 0 0 white;
    margin: 6px 10px 2px 10px;
}

/* styles for a feedback message that displays when the user clicks the "add to cart" button */ 

.feedback {
    border: 1px dotted cadetblue;
    padding: 1rem;
    background-color: rgb(218, 230, 247);
    position: absolute;
    top: 20%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    animation: 1s slideDown;
  }
  
  .invisible {
    display: none;
  }
  
  .visible {
    display: block;
  }
  
  .error {
    border: 1px dotted rgb(107, 21, 4);
    padding: 1rem;
    background-color: rgb(255, 229, 228);
  }
  
  @keyframes slideDown {
    0% {
      top: 0%;
    }
  
    100% {
      top: 20%;
    }
  }

/* styles for the "save edit" button, from MenuEdit.js, AND the press-down animation when the button is clicked */

#classic-menu-save-button {
    color: #bba1d0;
    font-size: 25px;

    background-color: #292c4c;
    border: 1px solid #8e6ca4;
    border-radius: 30px 30px 30px 30px;

    margin: 5px 0px 15px 10px;
    padding: 5px 20px;

    vertical-align: top;
    box-shadow: 0px 3px 4px gray;
}

#classic-menu-save-button:active {
    color: #a891bb; 
    background-color: #252844;
    border: 1px solid #a891bb;
    box-shadow: 0 0 0 white;
    margin: 6px 10px 2px 10px;
}
