/* styles for the Checkout page  */ 

/* adds space on the outside borders, so the text isn't touch the browser sides */ 

.checkout_page {
    padding: 0 3rem;
}

.checkout__title {
    font-size: 65px ; 
    color: #bba1d0; 
    text-shadow: 1px 1px 0px #292c4c; 

    margin-top: 35px; 
    margin-bottom: 0px; 
    padding: 0px; 
}

.checkout-instructions {
    color: #292c4c;
    font-size: 20px;
    font-weight: bold;

    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.paypal_image {
    margin-top: 35px; 
}