/* styles for SecretMenu.css */  

/* adds space on the outside borders, so the text isn't touch the browser sides */ 

.secret_menu {
    padding: 0 3rem;
}

/* styles for the title, "secret menu" */ 

.secret__title {
    font-size: 65px ; 
    color: #f5c46d; 
    text-shadow: 1px 1px 0px #944c0f; 

    margin-top: 35px; 
    margin-left: 10px; 
    margin-bottom: 0px; 
    padding: 0px; 
}

/* styles for the label & radio input  */ 

/* activated flexbox for the label and input divs to line them side by side */ 
/* align-items helps the text looks like its level with the radio input in the center */ 

.secret_menu_label_and_input_container { 

    display: flex; 
    align-items: center;
    margin: 15px 0px 15px 0px; 

    font-size: 25px; 
    font-weight: bold;
    color:  #944c0f;
}

/* styles for the radio button - not the label */ 
/* this was size the radio input and make it smaller */ 

.secret-menu-form-group {
    display: flex; 
    flex-direction: column; 
    margin: 0px 0px 10px 0px; 
}

/* styles for the radio button - not the label */ 

/* was using input.form-control to control the alignment of the radio input and label*/ 
/* turns out that this affects the input fields on the login.js and register.js components */ 
/* added a unique id called "menu-form-control" to menu.js to isolate the styles to menu.js */ 

#secret-menu-form-control {
    margin: 10px; 
    border: 0; 
    height: 30px; 
    width: 25px; 
} 

/* styles for the input field -- the color the input becomes when a selection is made */ 

input {
    accent-color: #d57a17; 
}

/* styles for the "add to cart" button */ 

#secret-menu-cart-button {
    color: #bba1d0;  
    text-shadow: 1px 1px 1px #8e6ca4;
    font-size: 25px;

    background-color: #292c4c; 
    border: 1px solid #8e6ca4; 
    border-radius: 3px 3px 3px 3px; 
    
    margin: 5px 0px 15px 10px;
    padding: 5px 10px; 
}

/* styles for the "save edit" button */ 

#secret-menu-save-button {
    color: #bba1d0;  
    text-shadow: 1px 1px 1px #8e6ca4;
    font-size: 25px;

    background-color: #292c4c; 
    border: 1px solid #8e6ca4; 
    border-radius: 3px 3px 3px 3px; 
    
    margin: 5px 0px 15px 10px;
    padding: 5px 10px; 
}