/* styles for the Home page */ 

/* styles for the body */ 
/* adds a background image/gif */ 

/* body {
    color: white; 
    background-image: url("https://media.giphy.com/media/uLQcLwZMcrz5m/giphy.gif"); 
    background-size: cover; 
} */

/* styles for the container holding the title ("Hello, Hotcakes!") and tagline ("The taste of delicious pancakes awaits you.") */
/* styles were meant to help center the title and tagline in the middle of the page */ 

.home_title_and_tagline_container {
    display: flex; 
    flex-direction: column;  
    justify-content: center; 
    text-align: center; 

    margin: 15px 0px 0px 0px; 
    padding: 88px 200px 88px 200px; 
    padding: 170px 0px 170px 0px; 

    border: 1px dotted blue; 
}

/* styles for the title, "Hello, Hotcakes!" */ 

.home__title {
    font-size: 100px;
    margin-bottom: 0px; 
}

.footer_container {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center; 

    border: 1px dotted blue; 
    margin-left: 0px; 
    margin-right: 0px;
}


