/* styles for the Home page */   

/* styles for the container holding the title and tagline */ 
/* styles were meant to help center the title and tagline in the middle of the page */ 
/* the margin and padding help create a banner-like space or hero image space */ 
/* the color, background-image, and background-size style the gif to go behind the title and tagline */ 
/* the border is for testing purposes just to see how the space is */ 
/* got different options for hero/banner gifs; commented these out for ease of switching them out later */ 

.home_title_and_tagline_container { 
    
    display: flex; 
    flex-direction: column;  
    justify-content: center; 
    text-align: center; 

    margin: 0px 0px 0px 0px; 
    padding: 232px 0px 232px 0px; 
    /* padding: 250px 0px 250px 0px;  */

    /* background-image: url("https://media.giphy.com/media/uLQcLwZMcrz5m/giphy.gif");  */
    background-image: url("https://media.giphy.com/media/ACLcxEifdoZyw/giphy-downsized-large.gif");
    /* background-image: url("https://media.giphy.com/media/LqgRRxT5e0E7XcbcMC/giphy.gif");  */
    /* background-image: url("https://media.giphy.com/media/z2hfj4oiX5H4k/giphy.gif");  */
    background-size: cover; 

}

/* styles for the title, "Hello, Hotcakes!" */ 

.home__title {
    color: #f5c46d; 
    font-size: 120px;
    text-shadow: 1px 1px 4px #944c0f; 
    
    margin-bottom: 0px; 
    
}

/* styles for the tagline, "the delicious taste..." */ 

.tagline {
    color: #f5c46d; 
    font-size: 20px; 
    text-shadow: 1px 1px 4px #944c0f;

    margin-top: 5px; 
}

/* styles for the footer holding the address, email, and phone information */ 
/* the border is for testing purposes just to see how the space is */ 
/* the footer container is using flexbox and contains the content */ 

.footer_container {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    
    margin-top: 0px; 
    margin-bottom: 0px; 
    padding-top: 16px; 
    padding-bottom: 16px;

    border-top: 1px solid #292c4c; 
    
}

.footer_item {
    color: #d57a17; 
    text-shadow: 0px 0px 0px #944c0f; 
    
    flex-basis: 35%;
    list-style-type: none;
}

