
.navbar {
    display: flex;
    flex-wrap: nowrap;
    text-align: center; 
    /* justify-content: left; */

    /* border: 1px dotted blue;  */
}

.navbar__item {
    flex-basis: 30%;
    list-style-type: none;
}

.navbar__link {
    text-decoration: none; 
}

.navbar__logout {
    margin-left: auto; 
}

